# Created by .ignore support plugin (hsz.mobi)
# IntelliJ project files
.idea

### Python template
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

/media/
/static
*.env

db.sqlite3

/logs
/pid
